@using System.Globalization
@{
    ViewBag.Title = "Index";
}

<h2 class="label label-info">Index - Welcome</h2>
<br />
<br />
<br />

<div class="well">
    The minimal MVC5 application with
    <ol>
        <li>ASP.NET version @Environment.Version</li>
        <li>Bootstrap</li>
        <li>JQuery</li>
    </ol>
</div>
<div>
    <label class="label label-info">Server time @DateTime.Now.ToString(CultureInfo.InvariantCulture)</label>
</div>

<br />

<div>
    <a href="javascript:;" onclick="WebAPIClient.authExternalProvider('GitHub');">Login with GitHub</a>
</div>


<div>
    <a href="javascript:;" onclick="WebAPIClient.authExternalProvider('Google');">Login with Google</a>
</div>

<div id="auth"></div>

<div>
    <div id="result"></div>
    <button onclick="WebAPIClient.getValueWithAccessToken()">Call API with a token</button>
</div>

<script>
    WebAPIClient.displayAuthInfo();
</script>

<br />
<div>
    <small>
        <a href="https://github.com/netvietdev/aspnetmvc5-minimal">
            <span class="glyphicon glyphicon-home"></span>
            Github
        </a>
    </small>
</div>
